<% @page_title = "映画一覧" %>
<h1><%= @page_title %></h1>
<table class="list">
    <ul id="movie">
        <% @movies.each do |movie| %>
            <div class="movie_block">
                <li>
                    <h3 class="movie_title"><%= link_to movie.title, admin_movie_path(id: movie.id) %>
                        <p><%= link_to "スケジュール編集", admin_movie_performances_path(movie_id: movie.id) %></p>
                    </h3>
                    <% movie.performances.each do |pf| %>
                        <p style="color: blue"><%= pf.screening_date.strftime("%m/%d") %></p>
                        <p><%= pf.start_time.strftime("%H:%M")+"~"+pf.end_time.strftime("%H:%M") %>
                    <% end %>
                </li>
            </div>
        <% end %>
    </ul>
</table>